<div class="row">
  <div class="span12">
    <%= form_for(@page) do |f| %>

      <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">

        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <%= f.text_field :name %> 
        </div>

        <label class="control-label" for="status">Status</label>
        <div class="controls">
          <%= f.select :status, [:draft, :published]  %> 
        </div>
        <label class="control-label" for="layout">Layout</label>
        <div class="controls">
          <%= f.select :layout, FeatherCms::Config.layouts  %>
        </div>
      </div>

      <label class="control-label" for="layout">Template Type</label>
      <div class="controls">
        <%= f.select :template_type, FeatherCms::Config.template_types  %>
      </div>

      <div class="control-group">
        <label class="control-label" for="textarea">Content</label>
        <div class="controls">
          <%= f.text_area :content, :class => 'codemirror_feather_cms input-xlarge span12', :row => "20" %>
        </div>
      </div>
      <%= f.submit "Save", :class => 'btn btn-primary btn-large' %>
    <% end %>
  </div>
</div>
